$theme-black: #262A32;
$theme-black-three-quarter-opacity: rgba(38, 42, 50, 0.75);
$theme-black-half-opacity: rgba(38, 42, 50, 0.5);
$theme-black-quarter-opacity: rgba(38, 42, 50, 0.25);
$theme-gray: #383C4A;
$theme-blue: #4496D2;
$theme-green: #5CBCC0;
$theme-orange: #F0A920;
$white: #fff;

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$font-stack: 'Open Sans', sans-serif;