@import '../helpers/_variables';

.career-container {
  margin-top: 2em;
  .row {
    > div {
      margin-bottom: 5em;

      a {
        &:hover {
          text-decoration: none;
        }
      }
      
    }
  }
}

.category-box {
  color: $theme-black;
  border: 3px solid;
  padding: 5em;
  height: 200px;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}