@import '../helpers/_variables';
.btn-question-footer {
    background: transparent;
    color: white;
    font-weight: bold;
    border: 3px solid white;
    border-radius: 100px;
    font-family: $thai-font-stack;
    font-size: 16px;
}

.theme-gray-bg {
    background-color: $theme-gray;
}

.theme-black-bg {
    background-color: $theme-black;
}

.box {
    background: white;
    border-radius: 10px;
    height: 100%;
    padding: 10px;
    position: relative;
    overflow-y: auto;
}

.box:first-child {
    font-family: $thai-font-stack;
    font-weight: 300;
}

#console {
    background: #262A32;
    color: white;
    font-family: $mono-font-stack;
}

.badge {
    &.badge-secondary {
        font-family: $thai-font-stack;
        position: absolute;
        top: 8px;
        right: 8px;
    }
}

.content-container {
    margin-top: 0px !important;
    padding-top: 86px;
    height: 100%;
}

.expand-button {
    width: 50px !important;
    height: 50px;
    border: 3px solid $theme-green;
    color: $theme-green;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: 50%;
    transform: translate(50%,50%);
    background: white;
    opacity: 1;
}

.expand-button.active {
    top: 0px;
    transform: translate(50%,-50%)
}

.topic-menu {
    background: #eeeeee;
    width: calc(100% - 20px);
    height: 50%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin: 10px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    transition: height 300ms ease-in-out;
}

.runButton {
    font-family: $thai-font-stack;
}